header {
  height: 50px;
  position: relative;

  nav {
    @include flex-center;
    justify-content: space-between;
    position: relative;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 1rem;

    .nav_left,
    .nav_right {
      flex: 1;
      display: flex;
    }

    .nav_left {
      justify-content: flex-start;
    }

    .nav_right {
      justify-content: flex-end;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 1rem;

      li {
        margin: 10px;
        font-size: $font-size;

        a {
          text-decoration: none;
          color:$color-primario;
        }
      }
    }
  }

  .header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    font-size: $font-size-terciario;
    font-weight: 600;
    letter-spacing: 5px;
    white-space: nowrap;
    z-index: 1002;

    a {
      text-decoration: none;
      color:$color-primario;
    }
  }

  .header_open-nav-button {
    color:$color-terciario;
    font-size: 2.2rem;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 5px;
    display: none;
    cursor: pointer;
    z-index: 1001;
    line-height: 1;
    user-select: none;
  }

  .header_checkbox {
    display: none;
  }


}